@font-face {
    font-family: "SometypeMono";
    src: url('sometype-mono/SometypeMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SometypeMono";
    src: url('sometype-mono/SometypeMono-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;   
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#160026 0%, #1A002F 50%, #160026 100% );
    background-position: center;
    background-repeat: no-repeat;
}

#greeting {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    color: #ffffff;
    font-family: "SometypeMono", sans-serif;
    font-size: 2.75rem;
    font-weight: normal;
    user-select: none;
    animation: greetingFade 2.5s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.5s;
}

@keyframes greetingFade {
    0% {
        opacity: 0;
        z-index: 999
    }

    33% {
        opacity: 1;
    }

    67% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes greetingFade {
    0% {
        opacity: 0;
        z-index: 999
    }

    33% {
        opacity: 1;
    }

    67% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-o-keyframes greetingFade {
    0% {
        opacity: 0;
        z-index: 999
    }

    33% {
        opacity: 1;
    }

    67% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes greetingFade {
    0% {
        opacity: 0;
        z-index: 999;
    }

    33% {
        opacity: 1;
    }

    67% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}