@font-face {
    font-family: "SometypeMono";
    src: url('sometype-mono/SometypeMono-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SometypeMono";
    src: url('sometype-mono/SometypeMono-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

:root{
    --secondary-color: #533071;
}

* {
    padding: 0;
    margin: 0;   
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#160026 0%, #1A002F 50%, #160026 100% );
    background-position: center;
    background-repeat: no-repeat;
    font-family: "SometypeMono", sans-serif;
    font-weight: normal;
    color: #ffffff;
}

/* Greeting */

#greeting {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    font-size: 2.75rem;
    user-select: none;
    animation: greetingFade 2.5s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.5s;
    pointer-events: none;
}

/* @keyframes greetingFade {
    0% {
        opacity: 0;
        z-index: 999
    }

    33% {
        opacity: 1;
    }

    67% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-moz-keyframes greetingFade {
    0% {
        opacity: 0;
        z-index: 999
    }

    33% {
        opacity: 1;
    }

    67% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-o-keyframes greetingFade {
    0% {
        opacity: 0;
        z-index: 999
    }

    33% {
        opacity: 1;
    }

    67% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes greetingFade {
    0% {
        opacity: 0;
        z-index: 999;
    }

    33% {
        opacity: 1;
    }

    67% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
} */

/* Navbar */

#home-icon {
    width: 35px;
    padding-top: 5px;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}


nav {
    font-size: 1.2rem;
    width: 800px;
    min-width: 400px;
    height: 80px;
    position: fixed;
    top: 0%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    z-index: 20;
    /* opacity: 0; */
    opacity: 1;
    animation: navFade 1.5s ease-in-out forwards;
    animation-delay: 3s;
    user-select: none;
    transition: width 1s ease-in-out;
}

@media (max-width:1080px){
    nav {
        width: 65%;
    }
}

.centered-flex {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-flex img {
    pointer-events: auto;
}

a.nav-item{
    color: #ffffff;
    text-decoration: none;
}

a.nav-item:active{
    color: #ffffff;
    text-decoration: none;
}

a.nav-item:hover{
    color: #ffffff;
    text-decoration: none;
}

a.nav-item:visited{
    color: #ffffff;
    text-decoration: none;
}

/* @keyframes navFade {
    to {
        opacity: 1;
    }
}

@-moz-keyframes navFade {
    to {
        opacity: 1;
    }
}

@-o-keyframes navFade {
    to {
        opacity: 1;
    }
}

@-webkit-keyframes navFade {
    to {
        opacity: 1;
    }
} */

/* Landing */

/* #landing-expanded {
    display: none;
} */

.landing {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    font-size: 2.3rem;
}

#name-reveal-btn{
    width: 35px;
    margin-bottom: -4px;
    margin-left: -3px;
}

#alif {
    font-weight: bold;
}

#le-firstdiv {
    font-size: 2rem;
    margin-bottom: 3px;
    word-spacing: -2px;
}

.secondary-color{
    color: var(--secondary-color);
}

